# Grundlegende Utility- und Parser-Pakete
python-dotenv
pdfplumber
tqdm
wandb
openai
pandas
openpyxl
tika
bs4
lxml
pytesseract
pillow

# LangChain-Pakete (Core, Community & Google-GenAI)
langchain-core
langchain-community
langchain-google-genai

# FAISS für den Vektor-Index
faiss-cpu
tiktoken
